:root {
  --primary-color: #062001;
  --secondary-color: #a9d6b2;
  --base-font-size: 10pt;
  --base-img-size: 7vw;
}

@media (max-width: 768px) {
  :root {
    --base-font-size: 5pt 
    --base-img-size: 7vw;
  }
}

.welcome-container * {
  border:none;
  /* border: dotted;
  border-width: 1px; */
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #062001; /* Dark Blue */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  font-size: calc(var(--base-font-size) * 1.5);
  background-color: var(--primary-color);
  box-sizing: border-box;
  overflow-x: hidden;
}


.container {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  /* position: fixed; */
  background-color: var(--secondary-color); /* Light Blue */
  margin: 0;
  padding: 0;
  min-height: 1.1vw;
}

.container hr {
  width: 100%;
  border: none;          /* Remove default styling */
  border-top: 2px solid var(--primary-color); /* Add custom line */
  margin: 0;             /* Remove vertical spacing */
  padding: 0;
}

.main-content-container{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header-container{
  margin: 0;
  padding: 0;
}

.header-container p.subheading-text{
  text-align: center;
  font-size: calc(var(--base-font-size) * 1.5);
  margin: 0;
  padding: 0;
}

.welcome-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: calc(var(--base-font-size));
}

img.welcome-icon {
  display: block;
  width: calc(var(--base-img-size) * 1);
  flex: 0;
}

.date{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.zoom {
    display: flex;
    align-items: center;
    gap: 1vw; /* Space between icon and text */
    padding: 0.5vw 1vw;
    background-color: var(--primary-color); /* Blue background */
    color: var(--secondary-color);             /* White text */
    border-radius: 1vw;       /* Makes it signup */
    border: 2px solid #2980b9; /* Optional border */
    transition: background-color 0.3s; /* Smooth hover effect */
    cursor: pointer;
}

.zoom-link-wrapper {
  display: block;
  text-decoration: none;
  color: inherit;
}

.zoom:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.welcome-zoom {
    display: block;
    margin: 0;
    padding: 0;
}


[class^="welcome-"] {
  font-size: calc(var(--base-font-size) * 2);
}



table.speakers {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table.speakers td {
  width: 20%;
  padding: 0;
  vertical-align: top; /* Align content to the top */
}

table.speakers .name {
  font-weight: bold;
}

table.speakers .position{
  font-size: calc(var(--base-font-size) *1.5);
}

table.speakers img {
  width: calc(var(--base-img-size) * 5 / 3); /* Adjust as needed */
  height: calc(var(--base-img-size) * 5 / 3); /* Adjust as needed */
  display: block;
  margin: 0 auto;
  border-radius: 50%; /* Makes the image circular */
  border: 0.3vw solid #ccc; 
}


.schedule-container {
  justify-self: right;
  width: 100%;
  padding: 1vw;
}

.schedule-container table {
  width: 100%;
  text-align: left;
}

.schedule-container table td:first-child{
  text-align: left;
  border-bottom: 1px dotted var(--primary-color);
}



.sponsor-img-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

img.sponsor {
  /* width: calc(var(--base-img-size) * 5); */
  width: 20%;
  flex: 1;
}

.speakers-container {
  vertical-align: top;
  justify-self: left;
  width: 100%;
  padding: 1vw;
}

h1, h2, h3 {
  text-align: center;
  color: var(--primary-color);
}

h1 {
  font-size: calc(var(--base-font-size) * 4);
}

h2 {
  font-size:calc(var(--base-font-size) * 2);
}




.signup-button-content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically (optional) */
}

.signup-button {
  display: inline-block;     /* Makes the div behave like a button */
  padding: 0.5vw 1vw;       /* Adds spacing inside the button */
  background-color: var(--primary-color); /* Blue background */
  color: var(--secondary-color);             /* White text */
  border-radius: 1vw;       /* Makes it signup */
  border: 0.1vw solid #2980b9; /* Optional border */
  transition: background-color 0.3s; /* Smooth hover effect */
  font-size:calc(var(--base-font-size) * 2);          
  font-weight: bold;
  text-align: center;        /* Center text inside */
  text-decoration: none;     /* Removes underline if used with <a> */
  cursor: pointer;
  align-self: center;
}

.signup-button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

table.contact{
  width: 100%;
  border-collapse: collapse;
}

table.contact td {
  width: 10%;
  padding: 0;
  vertical-align: top; /* Align content to the top */
  text-align: left;
  font-size: calc(var(--base-font-size) * 1);
}