:root {
  --primary-color: #082258;
  --secondary-color: rgb(238, 245, 255);
  --base-font-size: 1vw;
  --base-img-size: 7vw;
}

@media (max-width: 768px) {
  :root {
    --base-font-size: 1vw 
    --base-img-size: 7vw;
  }
}

.welcome-container * {
  border:none;
  /* border: dotted;
  border-width: 1px; */
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #062001; /* Dark Blue */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial, sans-serif;
  font-size: calc(var(--base-font-size));
  background-color: var(--primary-color);
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* position: fixed; */
  background-color: var(--secondary-color); /* Light Blue */
  margin: 5px;
  padding: 10px;
  min-height: 1.1vw;
  gap: 10px
}

.container hr {
  width: 100%;
  border: none;          /* Remove default styling */
  border-top: 2px solid var(--primary-color); /* Add custom line */
  margin: 0;             /* Remove vertical spacing */
  padding: 0;
}

.main-content-container{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header-container{
  margin: 0;
  padding: 0;
}

.header-container p.subheading-text{
  text-align: center;
  font-size: calc(var(--base-font-size) * 1.5);
  margin: 0;
  padding: 0;
}

.welcome-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

img.welcome-icon {
  display: block;
  width: calc(var(--base-img-size) * 1);
  flex: 0;
}

.date{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.signup-button-content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically (optional) */
  gap: 5vw;
  
}

.signup-button {
  display: inline-block;     /* Makes the div behave like a button */
  background-color: var(--primary-color); /* Blue background */
  color: var(--secondary-color);             /* White text */
  border-radius: 10px;       /* Makes it signup */
  transition: background-color 0.3s; /* Smooth hover effect */
  text-align: center;        /* Center text inside */
  text-decoration: none;     /* Removes underline if used with <a> */
  cursor: pointer;
  align-self: center;
}

.signup-button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

[class^="welcome-"] {
  /* font-size: calc(var(--base-font-size)); */
  font-size: calc(var(--base-font-size));
}

.schedule-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vw
}

.schedule-container table {
  width: 100%;
  text-align: left;
  border: 2px solid black;
  padding: 5px;
}

.schedule-container table td:first-child{
  text-align: left;
}

.schedule-container table td, th {
    border: 1px solid black; /* Adds a border to all table cells */
    padding: 8px; /* Adds some spacing */
    text-align: left; /* Aligns text to the left */
}

.sponsor-img-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

img.sponsor {
  /* width: calc(var(--base-img-size) * 5); */
  width: 20%;
}

.speakers-container {
  vertical-align: top;
  justify-self: left;
}

h1, h2, h3 {
  text-align: center;
  color: var(--primary-color);
}

h1 {
  font-size: calc(var(--base-font-size) * 6);
  /* font-size: 60pt; */
}

h2 {
  font-size:calc(var(--base-font-size) * 2);
}

table.contact{
  width: 100%;
  border-collapse: collapse;
}

table.contact td {
  width: 10%;
  padding: 0;
  vertical-align: top; /* Align content to the top */
  text-align: left;
  font-size: calc(var(--base-font-size) * 1);
  font-weight: bold;
}

.spacer {
    flex-grow: 1; /* Allows it to take up available space */
    min-height: 10px; /* Ensures it always has at least some spacing */
    max-height: 100px; /* Prevents it from stretching too much */
}

/*table.speakers td {*/
/*  width: 20%;*/
/*  padding: 0;*/
/*  vertical-align: top; /* Align content to the top */
/*}*/
/**/
/*table.speakers .name {*/
/*  font-weight: bold;*/
/*}*/
/**/
/*table.speakers .position{*/
/*  font-size: calc(var(--base-font-size) *1.5);*/
/*}*/
/**/
/*table.speakers img {*/
/*  width: calc(var(--base-img-size) * 5 / 3); /* Adjust as needed */
/*  height: calc(var(--base-img-size) * 5 / 3); /* Adjust as needed */
/*  display: block;*/
/*  margin: 0 auto;*/
/*  border-radius: 50%; /* Makes the image circular */
/*  border: 0.3vw solid #ccc; */
/*}*/